.afikpo-container {
  /* position: relative; */
  display: grid;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
  grid-gap: 6rem;
  /* grid-template-rows: 400px; */
  /* height: 50px; */
  column-gap: 1rem;
  margin-left: 3rem;
  margin-bottom: 7rem;
  /* width: 100%;
    
    /* margin: auto; */

  /* bottom: -150px; */
}

.afikpo-container img {
  position: relative;
  height: 700px;
  width: 700 px;
  object-fit: contain;
  margin-top: 10px;
}
.afikpo-container--element {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: contain;
  /* height: auto; */
  background-repeat: no-repeat;
  background-position: center;
  /* transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out; */
  /* filter: grayscale(1); */
  /* animation: block-appear 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation-delay: 0s; */
}

.afikpo-polaroid h2 {
  margin-bottom: 10px;
}
.afikpo_title {
  position: absolute;
  top: 39rem;
  right: 27rem;
}

.afikpo_id {
  position: absolute;
  top: 39rem;
  right: 6rem;
}
.location_id span:nth-child(2) {
  margin-left: 16px;
  bottom: 10rem;
}

/* .backgroundImage {
      position: relative;
      object-fit: contain;
      height: 600px;
      width: 600px;
    } */

.model-info {
  position: relative;
}

.afikpo-content {
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  top: 8rem;
  /* display: flex;
            flex-direction: column;
            margin: auto;
            width: 100%;
            height: 100%;
            top: 10vh;
            align-items: center; */
}

.ig-model {
  align-items: center;
  margin-bottom: 20px;
}
.afikpo-content div a > svg {
  margin-bottom: 3rem;
}

.afikpo-content h1 {
  font-size: 5rem;
  /* margin: 10 2rem; */
  color: black;
  align-items: center;
  margin-bottom: 1rem;
  /* margin-top: calc(90px + 50px); */
}
.afikpo-content p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: black;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .Main-container {
    grid-template-columns: auto;
    margin-left: 10px;
    height: auto;
  }
  .afikpo-content h1 {
    font-size: 3.5rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .afikpo-container {
    grid-template-columns: auto;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1025px) {
  .afikpo-container {
    margin-left: 20px;
  }
}
